body { 
    background-image: url(../images/wall.png)
}

header {
    background: #ffffff;
    text-align: right;
    border-bottom: 1px solid #cccccc;
}

.flexbox {
    display: flex;
    width: 960px;
    margin: auto;
    justify-content: space-between;    
}

.tabs {
    display: flex;
    align-items: center;
}

nav a{
    padding: 20px;
    color: #777777;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.name {
    width: max-content;
    float: left;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px;
    color: #ffffff;
    background: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.content-box {
    color: #777777;
    background: #ffffff;
    width: 960px;
    margin: auto;
    margin-top: 30px;
    border: 1px solid #cccccc;
}

.content {
    padding: 20px;
}

h2 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.content-title {
    border-bottom: 3px double #777777;
}

footer {
    box-sizing: border-box;
    background: #666666;
    text-align: center;
    margin-top: 50px;
    height: 15%;
    border-top: solid #4aaaa5;
    border-width: 10px;
}

.gallery1 {
    position: relative;
    display: flex;
    margin: auto;
    justify-content: space-around;
    padding: 20px;
}

.gallery2 {
    position: relative;
    display: flex;
    margin: auto;
    justify-content: space-around;
    padding: 20px;
}

.imagetext {
    position: absolute;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    width: 100px;
    bottom: 30px;
}